@import url(http://fonts.googleapis.com/css?family=Mako);
blanco = #FFFFFF


*
	border 0px
	margin 0px
	padding 0px

html
	background url(../img/bg.jpg) no-repeat center center fixed
	-webkit-background-size cover !important
	-moz-background-size cover !important
	-o-background-size cover !important
	background-size cover !important

body
	height 100%
	font-family: 'Mako', sans-serif
	font-size 16px
	text-align center

header
	color blanco
	height 100%
	margin 2em 0 3em 0
	width 100%
	h1
		font-size 1.5em
		font-weight 100
	h2
		font-size 1.2em
		font-style italic
		font-weight 100
		margin 	-.5em 0 0 -10em

footer
	height auto
	margin -1em 0 1.5em 0
	padding .5em 0 .5em 0
	width 100%
	h6
		color blanco
		font-size .9em
		font-weight 100
		line-height 25px

nav
	height 100%
	margin-bottom 2em
	width 100%
	ul li
		font-size 1em
		padding-bottom 1em
		padding-left 2em
		text-align left
		a
			color blanco
			text-decoration none

.container
	height 100%
	margin 0px
	padding 0px
	width 100%
	.col1,.col2
		display inline-block
		vertical-align top
	.col1
		background-color rgba(0,0,0,0.60)
		float left
		width 25%
	.col2
		background-color red
		width 73%
.clear
	clear both


.redesFooter
	height 100%
	padding 0 0 2.5em 0
	width 100%
	ul li 
		display inline-block
		padding 0 .5em 0 .5em




